<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Java Project</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd C:\Users\ustjavab204&#xd;
javac -d . LargestNumber.java&#xd;
java com.ust.LargestNumber&#xd;
&#xd;
javac RhombusStar.java&#xd;
java RhombusStar</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>