<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Git t integration using windows batch command</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>mkdir GitProject&#xd;
cd GitProject&#xd;
git init&#xd;
echo  &quot;Git integration using Jenkins&quot;&gt;Demo.txt&#xd;
git status&#xd;
git add .&#xd;
git commit -m&quot;first commit&quot;&#xd;
git remote add origin https://github.com/SimimolSM/GitJenkinsProject.git&#xd;
git branch -M main&#xd;
git push -u origin main</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.git.GitPublisher plugin="git@4.3.0">
      <configVersion>2</configVersion>
      <pushMerge>false</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <forcePush>false</forcePush>
      <branchesToPush>
        <hudson.plugins.git.GitPublisher_-BranchToPush>
          <targetRepoName>origin</targetRepoName>
          <branchName>main</branchName>
          <rebaseBeforePush>false</rebaseBeforePush>
        </hudson.plugins.git.GitPublisher_-BranchToPush>
      </branchesToPush>
    </hudson.plugins.git.GitPublisher>
  </publishers>
  <buildWrappers/>
</project>